@page
@model CustomersClients.Pages.Contactos.EditModel
@{
    ViewData["Title"] = "Editar Contacto";
}

<h1>Editar Contacto</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contacto.Id" />
            
            <div class="form-group mb-3">
                <label asp-for="Contacto.ClienteId" class="control-label"></label>
                <select asp-for="Contacto.ClienteId" class="form-control" asp-items="Model.ClientesSelectList"></select>
                <span asp-validation-for="Contacto.ClienteId" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Contacto.NombreCompleto" class="control-label"></label>
                <input asp-for="Contacto.NombreCompleto" class="form-control" />
                <span asp-validation-for="Contacto.NombreCompleto" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Contacto.Direccion" class="control-label"></label>
                <input asp-for="Contacto.Direccion" class="form-control" />
                <span asp-validation-for="Contacto.Direccion" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Contacto.Telefono" class="control-label"></label>
                <input asp-for="Contacto.Telefono" class="form-control" />
                <span asp-validation-for="Contacto.Telefono" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
